<div class="main">
  <div class="editProfile">
    <img src="/cleanitup.jpg" alt='no dog shit'/>
    <p class='edittxt'>Edit your profile.</p>
  </div>
  <div class="formdiv">
    <form class="edituserdetails" method="post">
      <label>First Name:<input type="text" name="first" class="write" value="{{userdetails.first}}"></label>
      <label>Last Name :<input type="text" name="last" class="write" value="{{userdetails.last}}"></label>
      <label>Email Adress:<input type="text" name="emailid" class="write" value="{{userdetails.email}}"></label>
      <label>Password :<input  type="password" name="password" class="write"></label>
      <label>Age:<input type="text" name="age" class="write" value="{{userdetails.age}}"></label>
      <label>City:<input type="text" name="city" class="write" value="{{userdetails.city}}"></label>
      <label>Home Page:<input  type="text" name="url" class="write" value="{{userdetails.url}}"></label>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" name="updatebtn" class="button">Update</button>
    </form>
  </div>
  <div class="message">
    {{>ErrorMsg}}
  </div>
</div>
